<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="appQrcMapper">
	<!-- 插入一条记录到二维码表 -->
	<insert id="addQrc" parameterType="pd">
		insert into
		app_qrc(url, time, t_id)
		values(#{url}, #{time}, #{t_id})
	</insert>
</mapper>