<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="appSignInMapper">
	<!-- 插入一条记录到签到表中 -->
	<insert id="addTSignIn" parameterType="pd">
		insert into
		app_signIn(time, t_id, url)
		values(#{time}, #{t_id}, #{url})
	</insert>
	
	<!-- 学生完成签到 -->
	<insert id="addSSignIn" parameterType="pd">
		insert into
		app_signIn(time, s_id, url)
		values(#{time}, #{s_id}, #{url})
	</insert>
</mapper>