<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="appTeacherMapper">
	<!-- 通过t_id查找教师 -->
	<select id="findByTIdTname" parameterType="pd" resultType="pd" >
		select 
			*
		from 
			app_teacher
		where 
			t_id = #{t_id} and t_name = #{t_name}
	</select>
	
	<!-- 通过url查找学生签到情况 -->
	<select id="findByUrl" parameterType="pd" resultType="cn.willvi.entity.SignInTable" >
		select 
			s.s_id id, u.s_name name, s.time
		from 
			app_signIn s INNER JOIN app_user u on s.s_id = u.s_id 
		where 
			url = #{url}
	</select>
	
	<!-- 通过url查找学生签到情况 -->
	<update id="updateInformation" parameterType="pd" >
		update app_teacher set t_phone = '${phone}' where t_id = '${id}'
	</update>
</mapper>