<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="appUserMapper">
	<!-- 通过s_id查找对应学生 -->
	<select id="findBySId" parameterType="pd" resultType="pd" >
		select 
			*
		from 
			app_user
		where 
			s_id = #{s_id}
	</select>
	
	<!-- 添加学生用户 -->
	<insert id="addStu" parameterType="pd" >
		insert into app_user(s_id, s_name) 
		values (#{s_id}, #{s_name})
	</insert>
</mapper>