<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<settings> 
        <setting name="cacheEnabled" value="true" /><!-- 全局映射器启用缓存 -->   
        <setting name="useGeneratedKeys" value="true" /> 
        <setting name="defaultExecutorType" value="REUSE" /> 
    </settings>

	<typeAliases>
		<typeAlias type="cn.willvi.entity.User" alias="User"/>
		<typeAlias type="cn.willvi.entity.Role" alias="Role"/>
		<typeAlias type="cn.willvi.entity.Menu" alias="Menu"/>
		
		<!-- 这里添加生成的实体类 -->
		
		<typeAlias type="com.github.pagehelper.Page" alias="Page"/>
		<typeAlias type="cn.willvi.util.PageData" alias="pd"/>
	</typeAliases>
	
	
</configuration>